VITE_API_BASE_URL= http://localhost:3000/api/v1
VITE_TOKEN_KEY=abc
VITE_GUEST_EMAIL=abcdevee@notivo.com
VITE_GUEST_PASSWORD=abcdevee@Notivo123
VITE_GUEST_EMAIL_LIMIT=2

VITE_API_SERVER_URL=http://localhost:3001
VITE_WORKER_SERVER_URL=http://localhost:3001