
NODE_ENV=development
AUTO_SETUP_DB=true
PORT=3000
# ============================================
# Database Configuration
# ============================================
DB_HOST=localhost
DB_PORT=3307
DB_USERNAME=root
DB_PASSWORD=db_password
DB_NAME=db_name
DB_CONNECTION_LIMIT=10
MYSQL_ROOT_PASSWORD=mysql_root_password